/* Add to a global or component-specific CSS file */
.carousel-item {
  background-color: #f8f9fa; /* Light grey background for each slide */
}

.carousel-inner {
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #004085; /* Dark blue for carousel controls */
}


footer {
  background-color: #343a40;
  color: #f8f9fa;
}

footer a:hover {
  color: #28a745;  /* Highlight links on hover */
}
